.app{
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh!important;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    background-color: var(--color-neutral-80);
}
.title-bar{
    height: 30px;
    background-color: var(--color-neutral-80);
    width: 100%;
    position: fixed;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}